@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --primaryFont: "Plus Jakarta Sans", sans-serif;
    --secondaryFont: "Inter", sans-serif;

    --primaryColor: #cc3b02;
    --bgTwo: #FAFBFF;
    --paraColor: #6c6c6c;

}

.font-pri{font-family: var(--primaryFont)!important;}
.font-sec{font-family: var(--secondaryFont)!important;}
.color-pri{color: var(--primaryColor)!important;}
.bg-pri{background-color: var(--primaryColor)!important;}
.bgTwo{background-color: var(--bgTwo)!important;}
.border-pri{border-color: var(--primaryColor)!important;}
.color-para{color: var(--paraColor)!important;}
.bg-para{background-color: var(--paraColor)!important;}
.border-para{border-color: var(--paraColor)!important;}
.wrapper{max-width: 1440px!important; margin: auto!important;}
.maxWidth750{max-width: 750px!important}
.maxWidth1000{max-width: 1000px!important;}
p{line-height: 1.75!important;}

.hoverPrimary, .hoverBlack {
    transition: color 0.3s ease-in-out;
}

.hoverPrimary:hover {
    color: var(--primaryColor) !important;
}

.hoverBlack:hover {
    color: #000 !important;
}

.navbar-toggler {
    outline: none !important;
    box-shadow: none !important;
}

.primaryBtn {
    position: relative;
    overflow: hidden;
    padding: 12px 24px !important;
    font-family: var(--primaryFont) !important;
    font-size: 1rem;
    border-radius: 100rem !important;
    font-weight: 700 !important;
    text-decoration: none !important;
}

.primaryBtn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    z-index: 1;
    background-color: #000;
    transition: width 0.4s ease-in-out;
}

.primaryBtn:hover::before {
    width: 100%;
}

.btnText {
    position: relative;
    z-index: 2;
}

.heroSection::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 2;
    opacity: 0.8;
}

.heroSectionImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 1;
}

.heroRightSecImg {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: 100%;
    object-fit: cover;
    object-position: top center;
}

.badgeCircle {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: var(--primaryColor);
    border-radius: 100%;
}

.serviceBox {
    position: relative;
    min-height: 550px;
    overflow: hidden;
    border-radius: 16px;
    padding: 38px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
}

.serviceBox::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    z-index: 2;
    transition: opacity 0.4s ease-in-out;
}

.serviceBoxBgImg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    object-fit: cover;
    object-position: center;
    transition: transform 0.4s ease-in-out;
}

.serviceBox:hover .serviceBoxBgImg {
    transform: scale(1.1)
}

.serviceBoxServiceIcon {
    transition: transform 0.4s ease-in-out, background 0.4s ease-in-out;
    position: relative;
    z-index: 3;
}

.serviceBoxServiceIcon:hover {
    transform: rotate(45deg);
    background-color: #000 !important;
}

.secFourBox {
    height: 100%;
    min-height: 400px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    overflow: hidden;
    border-radius: 8px;
    padding: 24px;
    text-decoration: none;
    color: #fff;
}

.secFourBox::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, #000000b2 5%, transparent);
    z-index: 2;
}

.secFourBox::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, #000000b2 10%, transparent);
    z-index: 2;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.secFourBox:hover::after {
    opacity: 1;
}

.secFourBoxImg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 1;
    transition: transform 0.5s ease-in-out;
}

.secFourBox:hover .secFourBoxImg {
    transform: scale(1.1);
}

.homeAnimationBoxes {
    position: relative;
    overflow: hidden;
}

.boxesNumber, .boxesHeading, .boxesPara {
    transition: color 0.4s ease-in-out;
    position: relative;
    z-index: 2;
}

.homeAnimationBoxes::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: var(--primaryColor);
    opacity: 0;
    z-index: 1;
    transition: opacity 0.4s ease-in-out, height 0.4s ease-in-out;
}

.homeAnimationBoxes:hover .boxesNumber, .homeAnimationBoxes:hover .boxesHeading, .homeAnimationBoxes:hover .boxesPara {
    color: #fff !important;
}

.homeAnimationBoxes:hover::before {
    height: 100%;
    opacity: 1;
}

.pricingLabel {
    cursor: pointer;
    text-align: center;
    color: var(--primaryColor);
    font-weight: 500;
    font-family: var(--primaryFont);
    padding: 12px 18px;
    border-radius: 12px;
    transition: color 0.4s ease-in-out, background 0.4s ease-in-out;
}

.activeLabel {
    background-color: var(--primaryColor) !important;
    color: #fff !important;
}

.yearlyPlan {
    display: none;
}

.swiper-button-next,
.swiper-button-prev {
    width: 65px;
    height: 65px;
    border-radius: 12px;
    background: #1A1A1A;
}

.swiper-button-next svg,
.swiper-button-prev svg {
    color: #fff;
    width: 28px;
    height: 28px;
    
}

.swiper-button-next,
.swiper-button-prev {
    transition: 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background: var(--primaryColor);
}

.swiper-button-prev {
    left: auto !important;
    right: 100px !important;
    top: auto !important;
    bottom: 0px !important;
}

.swiper-button-next {
    right: 20px !important;
    top: auto !important;
    bottom: 0px !important;
}

.secondaryBtn {
    text-decoration: none;
    color: #000;
    background-color: #fff;
    font-family: var(--primaryFont);
    font-size: 1.75rem;
    font-weight: 700;
    padding: 16px 24px;
    border-radius: 100px;
    line-height: 1;
}

@media (max-width: 576px) {
    .container-lg {
        padding: 8px !important;
    }

    .pricingPlan {
        padding: 0px;
    }
}

.footerLinks {
    transition: color 0.4s ease-in-out;
}

.footerLinks:hover {
    color: var(--primaryColor) !important;
}